.matches {
    border: solid 1px black;
    background: white;
    display: table;

    :nth-child(even).matchup {
        background: rgb(0 0 0 / 0.1);
    }

    .matchup {
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items:  center;
        justify-content: space-between;

		padding: 0.5em 0.75em;
		text-align: left;
		white-space: nowrap;
        
        &:not(:last-child) {
            border-bottom: 1px solid black;
        }

        .team {

            .player {
                font-family: var(--player-font-family);
                font-weight: bold;
                font-size: 1.25em;
            }

            .total-score {
                font-weight: bold;
            }

            .net-score {
                font-style: italic;
            }
        }

        .def {
            font-style: italic;
        }

        .result {
            font-weight: bold;
            // font-style: italic;
            align-self: flex-start;
        }
    }
}