.matchup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:  center;

    > * {
        margin: .5rem 0;
    }

    .team {
        display: flex;
        flex-direction: column;

        .player {
            font-family: var(--player-font-family);
            font-weight: bold;
            font-size: 1.25em;
        }

        .total-score {
            font-weight: bold;
        }

        .net-score {
            font-style: italic;
        }
    }

    .def {
        font-style: italic;
    }

    .result {
        font-weight: bold;
        // font-style: italic;
        align-self: flex-start;
    }
}