
        .team {
            .total-score {
                font-weight: bold;
            }

            .net-score {
                font-style: italic;
            }
        }

        .def {
            font-style: italic;
        }

        .win-loss {
            font-weight: bold;
            text-align: left;
        }