@if (appStateService.selectedMatch()) {
<h2 class="section-header">{{ appStateService.selectedMatch()?.name }} - {{ appStateService.selectedMatch()?.date |
    date:'M/d/y' }}
</h2>
<div class="match-info">
    <span class="match-type">{{ appStateService.selectedMatch()?.matchType }}</span>
    @if (appStateService.selectedMatch()?.skinFee) {
    - ${{ appStateService.selectedMatch()?.skinFee }} skin entry fee
    }
</div>

@if (appStateService.selectedMatch()?.matchType === matchTypes.StrokePlay) {
<h3>Versus Results</h3>
<app-match-results></app-match-results>
<hr />
}

<h3>Weekly Statistics</h3>
<app-player-match-stats-table [displayedColumns]="displayedColumns()"></app-player-match-stats-table>
<hr />

<h3>Skins</h3>
<app-player-match-stats-table
    [displayedColumns]="['playerId', 'grossSkins', 'netSkins', 'grossSkinAmount', 'netSkinAmount']"
    [defaultSortColumn]="'netSkinAmount'"></app-player-match-stats-table>
<hr />

@if (appStateService.selectedMatch()?.matchType === matchTypes.StrokePlay) {
<h3>Versus Standings</h3>
<app-player-stats-table [displayedColumns]="['playerId', 'wins', 'losses', 'ties']"
    [defaultSortColumn]="'wins'"></app-player-stats-table>
<hr />
}

<h3>Overall Statistics</h3>
<app-player-stats-table
    [displayedColumns]="['playerId', 'eagles', 'birdies', 'pars', 'bogeys', 'doublePars', 'fairwaysHit', 'grossPoints', 'netPoints', 'grossSkins', 'netSkins', 'grossSkinAmount', 'netSkinAmount']"></app-player-stats-table>
<hr />

@if (scorecard() && playerScores()) {
<h3>Scorecard</h3>
<app-scorecard [scorecard]="scorecard()!" [playerScores]="playerScores()!"></app-scorecard>
}
}