@if (!!appStateService.selectedMatch()) {
<h2 class="section-header">{{ appStateService.selectedMatch()?.name }} - {{ appStateService.selectedMatch()?.date |
    date:'M/d/y' }}
</h2>
<h4 class="match-type">
    {{ appStateService.selectedMatch()?.matchType }}
    @if (appStateService.selectedMatch()?.skinFee) {
    - ${{ appStateService.selectedMatch()?.skinFee }} skin entry fee
    }
</h4>

@if (appStateService.selectedMatch()?.matchType === matchTypes.StrokePlay) {
<h3>Versus Results</h3>
<app-match-results></app-match-results>
<hr />
}

<h3>Match Scores</h3>
@if (hasHandicap()) {
<app-player-match-stats-table [displayedColumns]="['playerIds', 'grossScore', 'handicap', 'netScore' ]"
    [defaultSortColumn]="'netScore'" [defaultSortDirection]="'asc'"></app-player-match-stats-table>
} @else {
<app-player-match-stats-table [displayedColumns]="['playerIds', 'grossScore' ]" [defaultSortColumn]="'grossScore'"
    [defaultSortDirection]="'asc'"></app-player-match-stats-table>
}
<hr />

<h3>Match Points</h3>
@if (hasHandicap()) {
<app-player-match-stats-table
    [displayedColumns]="['playerIds', 'eagles', 'birdies', 'pars', 'bogeys', 'doublePars', 'fairwaysHit', 'grossPoints', 'netPoints' ]"
    [defaultSortColumn]="'netPoints'"></app-player-match-stats-table>
} @else {
<app-player-match-stats-table
    [displayedColumns]="['playerIds', 'eagles', 'birdies', 'pars', 'bogeys', 'doublePars', 'fairwaysHit', 'grossPoints' ]"
    [defaultSortColumn]="'grossPoints'"></app-player-match-stats-table>
}
<hr />

@if (appStateService.selectedMatch()?.matchType === matchTypes.StrokePlay) {
<h3>Versus Standings</h3>
<app-player-stats-table [displayedColumns]="['playerId', 'wins', 'losses', 'ties']"
    [defaultSortColumn]="'wins'"></app-player-stats-table>
<hr />
}

<h3>Skins</h3>
<app-player-match-stats-table
    [displayedColumns]="['playerIds', 'grossSkins', 'grossSkinAmount', 'netSkins', 'netSkinAmount']"
    [defaultSortColumn]="'netSkinAmount'"></app-player-match-stats-table>
<hr />

@if (appStateService.selectedMatch()?.matchType !== matchTypes.Scramble) {
<h3>Overall Points Standings</h3>
<app-player-stats-table
    [displayedColumns]="['playerId', 'eagles', 'birdies', 'pars', 'bogeys', 'doublePars', 'fairwaysHit', 'grossPoints', 'netPoints']"></app-player-stats-table>
<hr />

<h3>Overall Skins Standings</h3>
<app-player-stats-table [displayedColumns]="['playerId', 'grossSkins', 'grossSkinAmount', 'netSkins', 'netSkinAmount']"
    [defaultSortColumn]="'netSkinAmount'"></app-player-stats-table>
<hr />
}

@if (!!appStateService.selectedScorecard() && !!appStateService.playerScores()) {
<h3>Scorecard</h3>
<app-scorecard [scorecard]="appStateService.selectedScorecard()!"
    [playerScores]="appStateService.playerScores()!"></app-scorecard>
}
}