<table class="scorecard">
    <thead>
        <tr>
            <th>Hole</th>
            <th *ngFor="let hole of scores.holeScores">{{ hole.hole.holeNumber }}</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>Handicap</th>
            <th *ngFor="let hole of scores.holeScores">{{ hole.hole.handicap }}</th>
            <th></th>
        </tr>
        <tr>
            <th>Par</th>
            <th *ngFor="let hole of scores.holeScores">{{ hole.hole.par }}</th>
            <th>{{ totalPar }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ scores.player.firstName }} {{ scores.player.lastName }}</td>
            <td *ngFor="let holeScore of scores.holeScores" [ngClass]="holeScore.fairwayHit ? 'fairway' : ''">{{
                holeScore.score }}</td>
            <td>{{ scores.totalScore }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11">
                <div>
                    <mat-icon>check</mat-icon> fairway hit
                </div>
            </td>
        </tr>
    </tfoot>
</table>