<h1>Schedule</h1>
<ng-container *ngFor="let match of schedule" class="schedule">
    <h2>Week {{ match.week }} - {{ match.date | date :'M/d/yyyy' }}</h2>
    <table class="matchups">
        <tbody>
            <tr *ngFor="let matchup of match.matchups">
                <td>
                    <div *ngFor="let player of matchup.team1">{{ player.firstName }} {{ player.lastName }}
                        <span *ngIf="player.handicap" class="handicap">({{ player.handicap }})</span>
                    </div>
                </td>
                <td>vs</td>
                <td>
                    <div *ngFor="let player of matchup.team2">{{ player.firstName }} {{ player.lastName }}
                        <span *ngIf="player.handicap" class="handicap">({{ player.handicap }})</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>