<div class="results-table-wrapper">
    <table class="results-table">
        <thead>
            <tr>
                @for (column of columns(); track column.key) {
                <th>
                    <button class="sort-button" type="button" (click)="sortBy(column.key)">
                        <span>{{ column.label }}</span>
                        <span class="sort-indicator">{{ getSortIndicator(column.key) }}</span>
                    </button>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (player of sortedPlayer(); track $index) {
            <tr>
                @for (column of columns(); track column.key) {
                <td [class.player]="column.key === 'id'" [class.stat]="column.key !== 'id'">
                    @if (column.key === 'imagePath') {
                    @if (getColumnValue(player, column.key)) {
                    <img class="profile" [src]="getColumnValue(player, column.key)" alt="Player Image" />
                    }
                    } @else {
                    {{ getColumnValue(player, column.key) }}
                    <!-- Idea is to click a button to show the players scorecards with links to view the scorecards. This may move to a separate player detail component. -->
                    <!-- @if (column.key === 'id') {
                    <button (click)="showStats(player)">Stats</button>
                    } -->
                    }
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>