@if (scorecard) {
<form [formGroup]="formGroup">
    <h2>{{scorecard.date | date: 'M/dd/yyyy'}}</h2>
    <table class="scorecard">
        <thead>
            <tr>
                <th [attr.colspan]="scorecard.holes.length + (scorecard.roundHoles === roundHoles.All ? 5 : 4)"
                    class="course-header">
                    {{ course.name }}
                </th>
            </tr>
            <tr>
                <th>Hole</th>
                <ng-container *ngFor="let hole of scorecard.holes; let i = index">
                    <th>{{ hole.holeNumber }}</th>
                    @if (i === 8) {
                    @if (scorecard.roundHoles === roundHoles.Back) {
                    <th>In</th>
                    } @else {
                    <th>Out</th>
                    }
                    }
                    @if (i === 17) {
                    <th>In</th>
                    }
                </ng-container>
                <th>Total</th>
                <th>Points</th>
            </tr>
            <tr>
                <th>Handicap</th>
                <ng-container *ngFor="let hole of scorecard.holes; let i = index">
                    <th>{{ hole.handicap }}</th>
                    @if ((i + 1) % 9 === 0) {
                    <th></th>
                    }
                </ng-container>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Par</th>
                <ng-container *ngFor="let hole of scorecard.holes; let i = index">
                    <th>{{ hole.par }}</th>
                    @if ((i + 1) % 9 === 0) {
                    <th></th>
                    }
                </ng-container>
                <th>{{ totalPar }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr glm-player-score-entry *ngFor="let scores of scorecard.scores" [formGroup]="formGroup" [scores]="scores"
                [roundHoles]="scorecard.roundHoles">
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [attr.colspan]="scorecard.holes.length + (scorecard.roundHoles === roundHoles.All ? 5 : 4)">
                    <div>
                        <mat-icon>check</mat-icon> fairway hit
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="row">
        <button mat-button mat-raised-button primary color="primary" (click)="savePlayerScore()">
            Save
            <mat-icon>save</mat-icon>
        </button>
    </div>
</form>
}