@if (!!appStateService.selectedLeague() && !!appStateService.selectedSeason()) {
<div class="row">
    <div>
        @if (!appStateService.selectedMatch()) {
        <h3>
            Overall Statistics
        </h3>
        <app-player-stats-table
            [displayedColumns]="['playerId', 'eagles', 'birdies', 'pars', 'bogeys', 'doublePars', 'fairwaysHit', 'grossPoints', 'netPoints', 'grossSkins', 'netSkins', 'grossSkinAmount', 'netSkinAmount', 'wins', 'losses']"
            [defaultSortColumn]="'netPoints'" [defaultSortDirection]="'desc'"></app-player-stats-table>
        }
        <router-outlet></router-outlet>
    </div>
    <div class="match-select">
        <div>
            <app-match-list></app-match-list>
        </div>
        @if (!!appStateService.selectedMatch()) {
        <div><a (click)="goBackToSeason()">Season Dashboard</a></div>
        }
    </div>
</div>
}