<div class="row header">
    <h2 class="section-header">{{ appStateService.selectedSeason()?.name }} {{ appStateService.selectedSeason()?.year }}
        Season</h2>
    @if (!!leagueId && !!seasonId) {
    <app-match-list></app-match-list>
    }
</div>
@if (!!leagueId && !!seasonId) {
<h3>
    @if (selectedMatchId() && selectedMatch()) {
    {{ selectedMatch()!.name }} - {{ selectedMatch()!.date | date:'M/d/y' }}
    }
    Overall Standings
</h3>
<app-player-stats-table [playerStats]="playerSeasonStats()"></app-player-stats-table>
<router-outlet></router-outlet>
}