<h2 class="header">{{ seasonService.selectedSeason()?.name }} {{ seasonService.selectedSeason()?.year }} Season</h2>
<hr />
@if (!!leagueId && !!seasonId) {
<app-match-list [matches]="matches()"></app-match-list>
<h3>
    @if (activeMatchId() && selectedMatch()) {
    {{ selectedMatch()!.name }} - {{ selectedMatch()!.date | date:'M/d/y' }}
    }
    Overall Standings
</h3>
<app-player-stats-table [playerStats]="playerSeasonStats()"></app-player-stats-table>
<router-outlet></router-outlet>
}