<div *ngFor="let match of schedule">
    <p>Week {{ match.week }} - {{ match.date | date :'M/d/yyyy' }}</p>
    <div *ngFor="let matchup of match.matchups" class="matchup">
        <div>
            <div *ngFor="let player of matchup.team1">{{ player.firstName }} {{ player.lastName }}</div>
        </div>
        <div>vs</div>
        <div>
            <div *ngFor="let player of matchup.team2">{{ player.firstName }} {{ player.lastName }}</div>
        </div>
    </div>
</div>

<div *ngFor="let score of scores">
    <div>{{ score.player }} scores: <ng-container *ngFor="let s of score.scores.sort(); let i = index">{{ s
            }}<ng-container *ngIf="i != score.scores.length - 1">, </ng-container>
        </ng-container>
        (hdcp: {{ score.handicap | number:'1.2-2' }})
    </div>
</div>