<div class="results-table-wrapper">
    <table class="scorecard">
        <thead>
            <tr>
                <th [attr.colspan]="scorecard().holes.length + (scorecard().roundHoles === roundHoles.All ? 5 : 4)"
                    class="course-header">
                    <div>
                        <h4>{{ appStateService.selectedCourse()?.name }}</h4>
                        <h4>{{scorecard().date | date: 'M/d/yyyy'}}</h4>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Hole</th>
                @for(hole of scorecard().holes; track $index; let i = $index) {
                <th>{{ hole.holeNumber }}</th>
                @if (scorecard().roundHoles === roundHoles.All) {
                @if (i === 8) {
                <th>Out</th>
                }
                @if (i === 17) {
                <th>In</th>
                }
                }
                }
                <th>Total</th>
                <th>Points</th>
            </tr>
            <tr>
                <th>Handicap</th>
                @for(hole of scorecard().holes; track hole.holeNumber; let i = $index) {
                <th>{{ hole.handicap }}</th>
                @if (scorecard().roundHoles === roundHoles.All) {
                @if (i === 8) {
                <th></th>
                }
                @if (i === 17) {
                <th></th>
                }
                }
                }
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Par</th>
                @for(hole of scorecard().holes; track hole.holeNumber; let i = $index) {
                <th>{{ hole.par }}</th>
                @if (scorecard().roundHoles === roundHoles.All) {
                @if (i === 8) {
                <th></th>
                }
                @if (i === 17) {
                <th></th>
                }
                }
                }
                <th>{{ totalPar }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (scores of sortedPlayerScores(); track scores.id) {
            <tr class="player-score-row">
                <td>
                    @for (playerId of scores.playerIds; track playerId) {
                    <div class="player">{{ players()[playerId]?.firstName }} {{
                        players()[playerId]?.lastName
                        }}</div>
                    }
                    @if (scores.handicap) {
                    <div class="handicap">Handicap: {{scores.handicap}}</div>
                    }
                </td>
                @for (holeScore of scores.holeScores; track holeScore.holeNumber; let i = $index) {
                <td>
                    <div class="symbol"
                        [ngClass]="{ fairway: holeScore.fairwayHit, 'gross-skin': holeScore.grossSkin && scorecard().skinAmount, 'net-skin': holeScore.netSkin && scorecard().skinAmount }">
                    </div>
                    @if (scores.handicap) {
                    <div class="strokes">
                        &nbsp;
                        @for (_ of strokeRange(holeScore.strokes); track $index) { &#8226; }
                    </div>
                    }
                    <div class="gross-hole-score">
                        <div [attr.scoreType]="holeScore.scoreType">
                            {{ holeScore.score }}
                        </div>
                    </div>
                    @if (scores.handicap && holeScore.score != null && holeScore.strokes != null) {
                    <div class="net-hole-score">({{ holeScore.score - holeScore.strokes }})</div>
                    }
                </td>
                @if (scorecard().roundHoles === roundHoles.All) {
                @if (i === 8) {
                <td>
                    <div class="gross-hole-score">
                        {{ scores.grossOutScore }}
                    </div>
                    @if (scores.handicap && scores.netOutScore) {
                    <div class="net-hole-score">({{ scores.netOutScore }})</div>
                    }
                </td>
                }
                @if (i === 17) {
                <td>
                    <div class="gross-hole-score">
                        {{ scores.grossInScore }}
                    </div>
                    @if (scores.handicap && scores.netInScore) {
                    <div class="net-hole-score">({{ scores.netInScore }})</div>
                    }
                </td>
                }
                }
                }
                <td>
                    <div class="gross-score">{{ scores.totalScore }}</div>
                    @if (scores.handicap && scores.totalScore) {
                    <div class="net-score">({{ scores.totalScore -
                        (scores.handicap) | number:'1.0-2' }})</div>
                    }
                </td>
                <td>
                    @if (scores.handicap && scores.totalScore != null) {
                    <div>G: {{ scores.grossPoints }}</div>
                    <div>N: {{ scores.netPoints }}</div>
                    } @else {
                    <div>{{ scores.grossPoints }}</div>
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td [attr.colspan]="scorecard().holes.length + (scorecard().roundHoles === roundHoles.All ? 5 : 4)">
                    <div>
                        <div>
                            <span icon class="material-symbols-outlined fairway">check</span> fairway hit
                        </div>
                        @if (scorecard().skinAmount) {
                        <div>
                            <span icon class="material-symbols-outlined net-skin">attach_money</span> skin
                        </div>
                        <div>
                            <!-- <span icon class="material-symbols-outlined net-skin">paid</span> net skin -->
                            <span icon class="material-symbols-outlined net-skin">price_check</span> skin & fairway
                            hit
                        </div>
                        }
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>