.scorecard {
    --size: 1.5em;
    --fairway-hit-color: black;
    --gross-skin-color: green;
    --net-skin-color: green;

    border: solid 1px black;
    border-spacing: 0;
    background: rgb(225, 225, 225);
    font-size: .6rem;

    @media screen and (min-width: 550px) {
        font-size: .7rem;
    }

    @media screen and (min-width: 768px) {
        font-size: .8rem;
    }

    .course-header {
        text-align: center;
        background: var(--banner-color);
        color: white;
        font-family: 'Old Standard TT', serif;
        font-style: italic;
        letter-spacing: .075em;
        font-size: 1.5em;
        padding: 0.1em 1em;

        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    tr > th:not(:first-child),
    tr > td:not(:first-child) {
        text-align: center;
    }

    th,
    td {
        text-align: start;
        padding: .75em 1em;
        border: solid 1px black;
        position: relative;
        background: white;
    }

    thead > tr:not(:has(th.course-header)) {
        background: rgb(255, 227, 184);
    }
    
    thead > tr:not(:has(th.course-header)) {
        &:nth-child(even) > th {
            background: rgb(255 255 255 / 0.2);
        }

        &:nth-child(odd) > th {
            background: rgb(0 0 0 / 0.2);
        }
    }

    tbody {
        .player-score-row:nth-child(even) > td {
            background: rgb(255 255 255 / 0.25);
        }

        .player {
            margin-bottom: .5em;
        }

        .handicap {
            font-style: italic;
        }

        [scoreType='albatross'],
        [scoreType='eagle'],
        [scoreType='birdie'] {
            color: red;
        }

        [scoreType='albatross']::before,
        [scoreType='eagle']::before {
            content: '';
            border-radius: 50%;
            border: double calc(var(--size) * 0.3) red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: var(--size);
            width: var(--size);
        }

        [scoreType='birdie']::before {
            content: '';
            border-radius: 50%;
            border: solid calc(var(--size) * 0.125) red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(var(--size) * 1.25);
            width: calc(var(--size) * 1.25);
        }

        [scoreType='bogey']::before {
            content: '';
            border: solid 2px black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(var(--size) * 1.25);
            width: calc(var(--size) * 1.25);
        }

        [scoreType='double-bogey']::before,
        [scoreType='other']::before,
        [scoreType='double-par']::before {
            content: '';
            border: double calc(var(--size) * 0.25) black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: var(--size);
            width: var(--size);
        }

        .strokes {
            position: absolute;
            color: black;
            top: -2px;
            right: 2px;
        }

        .gross-hole-score {
            display: flex;
            position: relative;
            height: 1.5em;
            width: 1.5em;
            align-items: center;
            justify-content: center;
            margin: .5em 0;
        }

        .net-hole-score,
        .net-score {
            font-style: italic;
        }

        .gross-score {
            font-weight: bold;
            font-size: 1.25em;
        }

        .symbol {
            position: absolute;
            inset: 0 0 0 0;
            font-size: 1.5em;
            font-weight: 800;

            &::after, &::before {
                font-family: 'Material Symbols Outlined';
                position: absolute;
            }

            &.fairway::after {
                content: '\e5ca';
                color: var(--fairway-hit-color);
                bottom: -.15em;
                right: 0;
            }

            // &.gross-skin::before {
            //     content: '\e227';
            //     color: var(--gross-skin-color);
            //     bottom: 0;
            //     left: 0;
            // }

            &.net-skin::after {
                content: '\e227';
                color: var(--net-skin-color);
                bottom: 0;
                right: -.125em;
            }

            &.net-skin.fairway::after {
                content: '\f04b';
                color: var(--net-skin-color);
                bottom: -.15em;
                right: 0;
            }
        }
    }

    tfoot {
        tr {
            background: rgb(255, 227, 184);

            &:nth-child(odd) > td {
                background: rgb(255 255 255 / 0.2);
                background: rgb(0 0 0 / 0.2);
            }
        }

        td {
            padding-block-start: 2px;
            padding-block-end: 2px;
            margin-inline-end: 10px;
            margin-inline-start: 10px;

            > div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 0 2em;
                font-style: italic;

                > div {
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    [icon] {
                        font-size: 1.5em;
                        font-weight: 800;
                        margin-inline-end: .25em;

                        &.fairway {
                            color: var(--fairway-hit-color);
                        }

                        &.gross-skin {
                            color: var(--gross-skin-color);
                        }

                        &.net-skin {
                            color: var(--net-skin-color);
                        }
                    }
                }
            }
        }
    }
}

