<h2>{{scorecard.date | date: 'M/dd/yyyy'}}</h2>
<table class="scorecard">
    <thead>
        <tr>
            <th [attr.colspan]="scorecard.holes.length + (scorecard.roundHoles === roundHoles.All ? 5 : 4)"
                class="course-header">
                {{ course?.name }}
            </th>
        </tr>
        <tr>
            <th>Hole</th>
            <ng-container *ngFor="let hole of scorecard.holes; let i = index">
                <th>{{ hole.holeNumber }}</th>
                @if (scorecard.roundHoles === roundHoles.All) {
                @if (i === 8) {
                <th>Out</th>
                }
                @if (i === 17) {
                <th>In</th>
                }
                }
            </ng-container>
            <th>Total</th>
            <th>Points</th>
        </tr>
        <tr>
            <th>Handicap</th>
            <th *ngFor="let hole of scorecard.holes">{{ hole.handicap }}</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Par</th>
            <th *ngFor="let hole of scorecard.holes">{{ hole.par }}</th>
            <th>{{ totalPar }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let scores of scorecard.scores">
            <td>
                <!-- TODO: Find a better way to get the player so it doesn't call the getPlayer method multiple times -->
                <div>{{ getPlayer(scores.playerId)?.firstName }} {{ getPlayer(scores.playerId)?.lastName }}</div>
                <div *ngIf="scores.handicap" class="handicap">Handicap: {{scores.handicap}}</div>
            </td>
            <td *ngFor="let holeScore of scores.holeScores" [ngClass]="{ fairway: holeScore.fairwayHit  }"
                [attr.scoreType]="holeScore.scoreType">{{
                holeScore.score }}</td>
            <td>
                <div>{{ scores.totalScore }}</div>
                <div *ngIf="scores.handicap" class="handicap">({{ scores.totalScore - (scores.handicap) }})</div>
            </td>
            <!-- TODO: the points should be saved when the scorecard is saved and not calculated on the fly -->
            <td>{{ getPoints(scores.holeScores)}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td [attr.colspan]="scorecard.holes.length + (scorecard.roundHoles === roundHoles.All ? 5 : 4)">
                <div>
                    <mat-icon>check</mat-icon> fairway hit
                </div>
            </td>
        </tr>
    </tfoot>
</table>