.matchups {
    background: rgb(255 255 255 / 0.5);
    border: solid 3px rgb(0 0 0 / 0.4);
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;

    .matchup {
        display: flex;
        gap: 0.5rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }

    .handicap {
        font-size: 0.75em;
        font-style: italic;
    }
}
