<form [formGroup]="form" (ngSubmit)="savePlayer()">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last Name">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Image Path</mat-label>
            <input matInput formControlName="imagePath" placeholder="Image Path (optional)">
        </mat-form-field>
    </div>

    <div class="row">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            {{ player?.id ? 'Update Player' : 'Add Player' }}
            <mat-icon>{{ player?.id ? 'edit' : 'person_add' }}</mat-icon>
        </button>
    </div>
</form>