<div class="row">
    <mat-form-field>
        <mat-select>
            <mat-option [value]="player" *ngFor="let player of leaguePlayers()"
                (onSelectionChange)="selectPlayer(player)">
                {{player.firstName}} {{player.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button mat-raised-button [disabled]="!selectedPlayer" primary color="primary"
        (click)="addLeagueSeasonPlayer(selectedPlayer)">Add
        Player</button>
</div>
<glm-player-table [players]="leagueSeasonPlayers()"
    (deletePlayer)="deleteLeagueSeasonPlayer($event)"></glm-player-table>