:root {
    --mat-menu-container-color: #fff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #b9864b, #f2bf7c, #b9864b);
}

mat-toolbar.mat-toolbar {
    background: linear-gradient(#004000, #005500, #006000, #005500, #004000);
    color: #fff;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: underline;
}
