@use './assets/scss/button';
@use './assets/scss/colors';
@use './assets/scss/table';
@use './assets/scss/vars';

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    margin: .125rem 0;
    font-size: 1.25rem;
}

h2 {
    margin: .25rem 0;
    font-size: 1rem;
}

h3 {
    margin: .5rem 0;
    font-size: .75rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
 
    h3 {
        font-size: 1.25rem;
    }
}

.section-header {
    text-decoration: underline;
}

hr {
    margin: 1.25rem 0;
}

li {
    margin-top: .25em;
    margin-bottom: .25em;

    &:has(a) {
        list-style-type: none;
    }

    a,
    a:visited {
        color: blue;
    }
}

a,
a:visited {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

mat-form-field {
    margin-top: .5em;
}
mat-select {
    .mat-mdc-select-value,
    .mat-mdc-select-arrow-wrapper {
        padding: 0 .5em;
    }
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    z-index: 1;
}

.cdk-overlay-pane {
    background: white;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 0.15);
}

.mat-mdc-form-field {
    position: relative;
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
