:root {
    --mat-menu-container-color: #fff;
    --vertical-margin: 15px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #a07340, #a88250, #a07340);
}

mat-toolbar.mat-toolbar {
    background: linear-gradient(#004000, #005500, #006000, #005500, #004000);
    color: #fff;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: underline;
}

button[mat-raised-button] {
    border: solid 1px black;
}

table, form {
    margin: var(--vertical-margin) 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 15px;
}
